[submodule "specs"]
	path = specs
	url = https://github.com/lemueldls/synquid.git
[submodule "crates/tree-sitter-synquid"]
	path = crates/tree-sitter-synquid
	url = https://github.com/lemueldls/tree-sitter-synquid.git
